<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{site_name}}</title>
		<meta name="csrf-token" content="{{ csrf_token('intention') }}"/>

		{% block javascripts %}
			<script type="module">
				import app from '/js/{{ entryname }}.js';
				app({title: '{{ site_name }}'});
			</script>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
